<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
    	<title>TPGfy</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<title>Spotify Artist Stats</title>
	</head>
	<body>
		<img src="TPGfy_logo.png" alt = "nav attela">
		<div class="container">
			<form th:action=@{/redirect} method="post">
	    	<h1>Spotify Artist Stats</h1>
	    		<input type="text" id="artist-name" name="artist-name" th:text=${name} placeholder="Enter artist name">
	    		<button type="submit" id="search-btn" name="action">Search</button>
	
		    <div id="artist-info">
		      	<h2>Artist Info:</h2>
				      <p><strong>Name:</strong> <span id="artist-name-info"></span></p>
				      <p><strong>Followers:</strong> <span id="followers"></span></p>
				      <p><strong>Genres:</strong> <span id="genres"></span></p>
				      <p th:text"popularity"><strong>Popularity:</strong> <span id="popularity"></span></p>
			
	    	</div>
	    	</form>
	  	</div>   
	  
	  <label for="cars">Choose a car:</label>

		<select name="cars" id="cars">
		  <option value="volvo">Volvo</option>
		  <option value="saab">Saab</option>
		  <option value="mercedes">Mercedes</option>
		  <option value="audi">Audi</option>
		</select>
	</body>
</html>